body {
    font-family:"Campton", sans-serif;
    font-weight:400;
    font-size:var(--base-font-size);
}
body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family:"Campton", sans-serif;
    font-weight:600;
}

body h1 {
    font-size:6em;
}
body h2 {
    font-size:3em;
}